.body{
    height: 100vh;
    max-width: 1440px;
    background-color: hsl(220, 15%, 55%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}

.card{
    width: 320px;
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    border-radius: 20px;
    text-align: center;
}
.card img{
    width: 100%;
    border-radius: 15px;
}
.card h3{
    font-size: 22px;
}
.card p{
    font-size: 15px;
}

@media only screen and (max-width: 600px) {
    body {
      max-width: 375px;
    }
  }